<li>
    {{name}}

    <button class="change-status" data-id="{{id}}" data-newstatus="{{eaten}}">
        {{#if eaten}}MUNCH!{{else}}UNMUNCH!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>